
img {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	border: 1px solid gray;
    border-radius: 4px;
}

button {
	margin-left: 2px;
	margin-top: 2px;
}

.navbar{
	background-color:  #17a589;
}

.navbar-inverse {
	background-color:  #17a589;
}